# Переменные окружения
/.env

# Сертификаты
/certificates/*
!/certificates/.gitkeep

# Архивы с системными пакетами CryptoPro
/cryptopro/*
# Патчи для PHP при установке PHP Cades в систему
!/cryptopro/php7_support.patch
!/cryptopro/php8_support.patch
# "lsb-cprocsp-devel" из архива Cades.
# Новые архивы этот файл не содержат, а без его установки, при сборке расширения PHP будет ошибка "fatal error: atldef2.h: No such file or directory".
!/cryptopro/lsb-cprocsp-devel_5.0.11863-5_all.deb
